// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
/ {
    gpiocustom {
        compatible = "gpio-keys";
        gpio2: gpio_2 {
            gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 2";
        };
        gpio9: gpio_9 {
            gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 9";
        };
        gpio10: gpio_10 {
            gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 10";
        };
        gpio12: gpio_12{
            gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 12";
        };
        gpio13: gpio_13 {
            gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 13";
        };
        gpio15: gpio_15{
            gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 15";
        };
        gpio17: gpio_17{
            gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 17";
        };
        gpio20: gpio_20{
            gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 20";
        };
        gpio22: gpio_22{
            gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 22";
        };
        gpio24: gpio_24{
            gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 24";
        };
        gpio26: gpio_26{
            gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 26";
        };
        gpio29: gpio_29 {
            gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 29";
        };
        gpio31: gpio_31 {
            gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Custom gpio 31";
        };

    };
    aliases {
        pin2 = &gpio2;
        pin9  = &gpio9;
        pin10 = &gpio10;
        pin13 = &gpio13;
        pin15 = &gpio15;
        pin17 = &gpio17;
        pin20 = &gpio20;
        pin22 = &gpio22;
        pin24 = &gpio24;
        pin26 = &gpio26;
        pin29 = &gpio29; 
        pin31 = &gpio31; 
    };
};
